body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #2a3e51;
    position:fixed; 
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 390px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu{
    float: left;
    padding-left: 435px;
    
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

main{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/manchik.png) 90% 100%/ auto 85% no-repeat , url(../img/bgmain.jpg) center/cover no-repeat ;
}

.title__container{
    float: left;
    margin-top: 430px;
    margin-left: 400px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: intr 1s ease forwards;
    -o-animation: intr 1s ease forwards;
    animation: intr 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
    
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 60px 14px;
}

.aboutme{
    background: url(../img/bgaboutme.jpg) center/cover no-repeat;
    text-align: center;
    font-size: 12px;
    color: #717883;
}

.zagaboutme{
    margin-bottom: 60px;
}

.aboutme div{
    margin: 25px;
}

.aboutme input{
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: url(../img/aboutmeicon.png) no-repeat;
    background-position: 7% 50%;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin-bottom: 100px;
}

.aboutme h3{
    font-size: 23px;
    text-transform: uppercase;
    color: #263244;
    font-weight: bold;
    padding-top: 110px;
    margin-bottom: 30px;
}

.umeu{
    float: leftl;
    background: url(../img/bgumeu.jpg) center/cover no-repeat;
    text-align: center;
    font-size: 13px;
    color: #515a69;
    width: 100%;
    height: 525px;
}

.umeu li{
    float: left;
    margin-right: 86px;
    width: 210px;
}

.umeu ul{
    margin-left: 420px;
    
}

.umeu img{
    margin-bottom: 37px;
}

.umeu h3{
    font-size: 23px;
    text-transform: uppercase;
    color: #263244;
    font-weight: bold;
    padding-top: 110px;
    margin-bottom: 30px;
}

.umeu h5{
    color: #eb8601;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.zagumeu{
    margin-bottom: 100px;
}

.keis h3{
    font-size: 23px;
    text-transform: uppercase;
    color: #263244;
    font-weight: bold;
    padding-top: 110px;
    margin-bottom: 30px;
}

.zagkeis{
    margin-bottom: 40px;
    text-align: center;
}

.textkeis{
    font-size: 12px;
    margin-bottom: 40px;
}

.keis h4{
    font-size: 15px;
    color: #384354;
    font-weight: bold;
}

.klient{
    padding: 10px;
}

.pikchakeis{
    margin-left: 390px;
}

.keis ul{
    float: left;
    margin-left: 385px;
}

.keis li{
    float: left;
    margin-right: 100px;
}

.textkeis{
    text-align: center;
}

.saet{
    padding: 10px
}

.keis2{
    padding: 10px;
}

.nameproject{
    margin-left: 385px;
    padding: 10px;
}

.keis input{
    height: 45px;
    text-align: center;
    border: 2px solid #6d7682;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin: 30px 385px 30px;
}

.formastoim{
    margin-bottom: 40px;
    display: block;
    margin-left: 495px;
}

.formastoim select{
    border: 2px solid #eeeeee;
    color: #737373;
    height: 60px;
    width: 890px;
    background-color: #eeeeee;
    padding-left: 20px;
}

.imaga{
    margin-left: 495px;
}

.stoim{
    margin-bottom: 155px;
}

.stoim h4{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 50px;
}

.stoim h3{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 200px;
}

.formresult{
    margin-left: 495px;
    font-size: 13px;
    font-weight: bold;
}

.stat{
    float: left;
    background: url(../img/pgstat.jpg) center/cover no-repeat;
    text-align: center;
    font-size: 10px;
    color: #323e4f;
    width: 100%;
    height: 500px;
    text-transform: uppercase;
}

.stat h3{
    font-size: 27px;
    text-transform: uppercase;
    color: #263244;
    font-weight: bald;
    padding-top: 110px;
    margin-bottom: 30px;
}

.zagstat{
    margin-bottom: 90px;
}
    
.stat li{
    float: left;
    margin-right: 150px;
    width: 170px;
}

.stat ul{
    margin-left: 360px;
}

.stat h5{
    margin: 35px;
    font-size: 30px;
}

.otz{
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}

.otz h3{
    font-size: 27px;
    text-transform: uppercase;
    color: #263244;
    font-weight: bald;
    padding-top: 90px;
    margin-bottom: 30px;
    margin-top: 90px;
}

.zagotz{
    margin-top: 60px;
    margin-bottom: 60px;
}

.otz div{
    margin: 20px;
}

.fb{
    float: left;
    background: url(../img/bgfb.jpg) center/cover no-repeat;
    text-align: center;
    font-size: 13px;
    color: #fff;
    width: 100%;
    height: 800px;
    display: block;
}

.fb h3{
    font-size: 27px;
    color: #fff;
    font-weight: bald;
    padding-top: 110px;
    margin-bottom: 30px;
}

.fb p{
    margin: 40px;
}

.ul1 li{
    float: left;
    margin-right: 100px;
    width: 155px;
    padding: 5px;
}

.ul1 ul{
    margin-left: 595px;
}


.rule{
    width: 100%;
    height: 100px;
    background-color: #2a3e51;
    text-align: center;
    color: #fff;
    padding-top: 42px;
}

.123{
    text-align: center;
}

.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: #e88604;
}

.menu li a:active{
    transform: scale(1.1);
}

.title__container input{
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover{
    background: #344051;
    color: white;
}

.title__container input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2.0s;
}

@keyframes intr{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 400px;
    }
}

.aboutme input{
    transition: all 0.2s;
    transform: scale(1);
}

.aboutme input:hover{
    background: #344051;
    color: white;
}

.aboutme input:active{
    transform: scale(1.1);
}

.aboutme:hover{
    border: 3px solid #e88604;
    
}
.umeu:hover{
    border: 3px solid #e88604;
    
}
.keis:hover{
    border: 3px solid #e88604;
    
}
.stoim:hover{
    border: 3px solid #e88604;
    
}
.stat:hover{
    border: 3px solid #e88604;
    
}

.otz:hover{
    border: 3px solid #e88604;}
    
.keis input{
    transition: all 0.2s;
    transform: scale(1);
}

.keis input:active{
    transform: scale(1.1);
}

.pika1{
    transition: all 0.2s;
    transform: scale(1);
}

.pika1:hover{
    transform: scale(1.1);
}

.pika2{
    transition: all 0.2s;
    transform: scale(1);
}

.pika2:hover{
    transform: scale(1.1);
}
.pika3{
    transition: all 0.2s;
    transform: scale(1);
}

.pika3:hover{
    transform: scale(1.1);
}
.pika4{
    transition: all 0.2s;
    transform: scale(1);
}

.pika4:hover{
    transform: scale(1.1);
}

.umeu li{
    transition: all 0.2s;
    transform: scale(1);
}

.umeu li:hover{
    transform: scale(1.1);
}

.stat li{
    transition: all 0.2s;
    transform: scale(1);
}

.stat li:hover{
    transform: scale(1.1);
}
